CONFIG_WEB_PORTAL_ENABLE_LOGS_ENDPOINT=y
CONFIG_WEB_PORTAL_EXPOSE_NETWORK_IDENTIFIERS=y
CONFIG_WEB_PORTAL_DETAILED_HTTP_ERRORS=y
CONFIG_APP_LOG_BUFFER_CAPTURE_DEBUG=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=6144
