CONFIG_WEB_PORTAL_ENABLE_LOGS_ENDPOINT=y
CONFIG_WEB_PORTAL_EXPOSE_NETWORK_IDENTIFIERS=y
CONFIG_WEB_PORTAL_DETAILED_HTTP_ERRORS=y
CONFIG_APP_LOG_BUFFER_CAPTURE_DEBUG=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=6144
CONFIG_ACR_AUTO_ENABLED=y
CONFIG_ACR_AUTO_INTERVAL_MS=1000
CONFIG_ACR_CAPTURE_DURATION_SECONDS=7
